In [1]:
train_16 = pd.read_csv("../Data/train_2016_v2.csv")
train_17 = pd.read_csv("../Data/train_2017.csv")
properties_16 = pd.read_csv("../Data/properties_2016.csv")
properties_17 = pd.read_csv("../Data/properties_2017.csv")
sample_sub = pd.read_csv('../Data/sample_submission.csv')

/Users/MAC/.pyenv/versions/anaconda3-5.0.1/envs/python_ana/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/MAC/.pyenv/versions/anaconda3-5.0.1/envs/python_ana/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
print(train_16.dtypes)
print(train_16.transactiondate.values[:3])
train_16.tail()

parcelid             int64
logerror           float64
transactiondate     object
dtype: object
['2016-01-01' '2016-01-01' '2016-01-01']

       parcelid  logerror transactiondate
90270  10774160   -0.0356      2016-12-30
90271  12046695    0.0070      2016-12-30
90272  12995401   -0.2679      2016-12-30
90273  11402105    0.0602      2016-12-30
90274  12566293    0.4207      2016-12-30

In [7]:
train_17.tail()

       parcelid  logerror transactiondate
77608  10833991 -0.002245      2017-09-20
77609  11000655  0.020615      2017-09-20
77610  17239384  0.013209      2017-09-21
77611  12773139  0.037129      2017-09-21
77612  12826780  0.007204      2017-09-25

In [9]:
print(len(sample_sub))
sample_sub.tail()

2985217

          ParcelId  201610  201611  201612  201710  201711  201712
2985212  168176230       0       0       0       0       0       0
2985213   14273630       0       0       0       0       0       0
2985214  168040630       0       0       0       0       0       0
2985215  168040830       0       0       0       0       0       0
2985216  168040430       0       0       0       0       0       0

In [ ]:
i = 0
count = 0
while i < len(sample_sub):
    
    if sample_sub.ParcelId[i] not in train_16.parcelid or sample_sub.ParcelId[i] not in train_17.parcelid:
        count += 1

In [ ]:
count